.team-card {
    position: relative;
    padding: 1rem;
  }
  
  .team-image {
    width: 75%;
    height: 550px;
    object-fit: cover;
    margin-left: 80px;
    
  }
  
  .team-info {
    position: absolute;
    bottom: 160px;
    left: 420px;
    background: linear-gradient(to right, gray,rgb(23, 23, 23));
    color: white;
    padding: 1rem;
    width: 35%;
    height: 250px;
    border-radius: 8px;
  }
  
  .profile-image {
    width: 94px;
    height: 94px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .team-name {
    margin-top: 0.5rem;
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .team-description {
    font-size: 0.875rem;

  }
  
  @media (max-width: 480px) {
    .team-image {
     width: 100%;
     margin-left: 0;
     height: 400px;
  }
  .team-info {
 left: 0;

 width: 300px;
 height: 200px;
}

.team-header h3 {
display: none;
}
.team-header p {
display: none;
}
.team-card {
  height: 400px;
}
}